/* ================================================== */
/* ===================== NAVBAR ===================== */
/* ================================================== */


.nav__container {
    padding: 0 7%;
    height: 5rem;
    background: var(--color-white);
    /* border: 5px solid purple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-body-s);
    line-height: var(--lh-body-l);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 3.3125rem
}

.nav-left__list {
    display: flex;
    gap: 3.3125rem
}

.nav-right__list {
    display: flex;
    gap: 2.5rem;
}


.small-btn {
    padding: .75rem 1.5625rem;
}


/* ================================================== */
/* ==================== order ==================== */
/* ================================================== */



/* ===================== STORES ===================== */
.stores {
    border: 5px solid orange;
    display: flex;
    justify-content: center;
}

.stores__list {
    background: rgb(255, 174, 174);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 4.25rem;
    align-items: center;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .875rem 0;
    }
}

/* ====================== BODY ====================== */
.order-body__container {
    display: flex;
    gap: 1rem;
    /* padding-bottom: 5.625rem; */
    border: 5px solid green;
    margin-bottom: 3rem;
}

.card {
    padding: 7.5rem;
    display: flex;
    align-items: center;
    width: 50%;
    border-radius: 7px;
    color: var(--color-white);
    background: var(--color-black);
    /*     display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem; */
    border: 3px solid red;
    height: 415px;

    h3 {
        font-size: var(--fs-heading-m);
        line-height: var(--lh-heading-m);
        font-family: var(--fw-semiBold);
        margin-bottom: 1.8125rem;
    }

    p {
        font-size: var(--fs-body-m);
        line-height: var(--lh-body-l);
        margin-bottom: 0.875rem;
        border: 1px solid #eee;
    }
}

.--card-offer {
    background-image: url(./../../assets/images/image2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.--card-offer::before {
    border-radius: 7px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./../../assets/images/image2.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(65%);

}

.card__body {
    position: relative;
    border: 3px solid blue;
    width: 300px;
}

.card__icon {
    display: flex;
    gap: .875rem;
}

.--card-uber {
    background-image: url(./../../assets/images/uber.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


    .card__body {
        border: 1px solid #eee;
    }

    img {
        border: 1px solid #eee;
        align-self: end;
    }

}

@media screen and (max-width: 1100px) {
    .order-body__container {
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
    }
}

@media screen and (max-width: 710px) {

    .card {
        padding: 2rem;
        justify-content: center;
    }
}